.page-wrap {
   min-height: 55vh;
}


/*Login page Start*/
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-container .login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-container .login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container .login-form-2{
    padding: 5%;
    background: #E5D68F;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-container .login-form-2 h3{
    text-align: center;
    color: #333;
}
.login-container .login-container form{
    padding: 10%;
}
.login-container .btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-container .login-form-1 .btnSubmit{
    font-weight: 600;
    color: #333;
    background-color: #D9C294;
}
.login-container .login-form-2 .btnSubmit{
    font-weight: 600;
    color: #333;
    background-color: #4CA8AC;
}
.login-container .login-form-2 .ForgetPwd{
    color: #333;
    font-weight: 600;
    text-decoration: none;
}
.login-container .login-form-1 .ForgetPwd{
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

/*Login page End*/
